# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# temp files
*.swp
*~

saved/

.DS_Store
example
example.exe
contrib/zlib-1.2.8

test.zip
